RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule \.(css|pdf|png|js)$ -[L]
RewriteBase /
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]